table {
    font-family: "Lucida Sans Unicode", "Lucida Console", "sans-serif";
    font-size: 14px;
    border-collapse: collapse;
    text-align: center;
}

table th, table td:first-child {
    background: #AFCDE7;
    color: white;
    padding: 10px 20px;
}

table th, table td {
    background: #D8E6F3;
}

table th:first-child, table td:first-child {
    text-align: left;
}